/* debug */

[class*="col-"] {
  /* border: 1px solid black; */
}

body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

/* note:
grigio: #f3f6f9
blu: #0248ff
blu scuro: #031b4e
verde acqua: #00d7d2
testo grigio: #5b6987 */

/* colori delle sezioni e del testo */

header, #started {
  background: #0248ff;
}

#loghi, #teams, #designed {
  background: #f3f6f9;
}

#service, footer {
  background: #031b4e;
}

#started a, #dx-intro {
  background: #ffffff;
}

#sx-intro, #title-service, #service, #call-to-action, .title-footer  {
  color: #ffffff;
}

#form-termsofservice, #title-loghi, #deploy, #designed, #features, #teams, footer {
  color: #5b6987;
}

#nav-2, #dx-intro h2, #deploy h2, #deploy h3, #designed h2, #features h2, #features h3, #teams h2 {
  color: #031b4e;
}

.singup, #loghi a, #features a, #started a {
  color: #0248ff
}

/* grandezza font */

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

/* NAVBAR 1 */

#nav-1 {
  font-size: 0.8em;
  padding: 0.5% 2%;
  margin-top: 0.5%;
  border-bottom: 1px solid #f3f6f9;
}

.new {
  font-size: 0.7em;
  background: #00d7d2;
  padding: 1%;
  border-radius: 20%;
}

.now-available {
  text-align: left;
  padding-left: 2%;
}

.now-available a, .nav1dx a {
  color: #5b6987;
  text-decoration: none;
}

/* NAVBAR 2 */

#nav-2 {
  padding: 0.5% 2%;
  margin: 1% 0;
}

.signup a { /* come lo metto a destra? */
  color: #0248ff;
  text-decoration: none;
  border: 1px solid #0248ff;
  border-radius: 7px;
  padding: 4% 8%;
}

/* INTRO */

  /* intro sx */

#intro {
  width: 90%;
  margin: auto;
  padding: 7% 0;
}

#sx-intro {
  text-align: left;
  padding: 4% 0;
}

#sx-intro p {
  font-size: 2em;
  opacity: 0.7;
}

.titolo-intro {
  padding: 6% 0;
}

  /* intro dx */

#dx-intro {
  border-radius: 10px;
}

#dx-intro h2 {
  padding: 7% 5%;
}

input {
  padding: 3px;
  font-size: 1em;
  color: #5b6987;
}

#dx-intro > .row {
  width: 90%;
  margin: auto;
}

#dx-intro input {
  width: 100%;
  padding: 2%;
  border-radius: 4px; /* perchè sembra 3d? */
  margin-bottom: 4%;
}

.create-your-account {
  width: 100%;
  padding: 2%;
  border-radius: 4px;
  margin-bottom: 4%;
  background: #0248ff;
  color: #ffffff;
}
